<h1>Ships#new</h1>
<div class="form">
	<!-- if current user is logged in as captian  -->
	<% if @current_user && @current_user.type == "Captain" %> 
	<!-- show form to create new ship for the captain  -->
		<%= form_for @ship do |f| %>
			<%= f.label :ship_name %> 
			<%= f.text_field :ship_name %> <br>
			<%= f.label :container_space %> 
			<%= f.number_field :container_space %> <br>
			<%= f.label :current_location %> 
			<%= f.number_field :current_location %> <br>
			<%=f.submit :create %> 
		<% end %>
	<% else %>
		"Sorry, you do not have persmissions to access this page."
	<% end %>
</div>


