<!DOCTYPE html>
<html>
<head>
  <title>HawaiiShippingProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="notice"><%= flash[:notice] if flash[:notice] %></div>
<div id="alert"><%= flash[:alert] if flash[:alert] %></div>

<%= yield %>

</body>
</html>
