<!DOCTYPE html>
<html>
<head>
  <title>HawaiiShippingProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<%= link_to image_tag("logo.png", id: "logo") %>
		<img id ="fish" src="/assets/reef-triggerfish.png">
		<nav>
			<% if current_user %>
				<%= link_to "Index", users_path %>
				<span class="greeting">Hello <%= current_user.type %> <%= current_user.fname %>!</span>
			<% else %>
				<div id="sign_in">
					<%= render 'sessions/form' %>
				</div>
			<% end %>
		</nav>
	</div>
	<div>
		<div id="notice"><%= flash[:notice] if flash[:notice] %></div>
		<div id="alert"><%= flash[:alert] if flash[:alert] %></div>
	    <%= yield %>
	</div>
	<footer>
	</footer>
</body>
</html>

