<!DOCTYPE html>
<html>
<head>
  <title>HawaiiShippingProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<%= link_to image_tag("logo.png", id: "logo") %>
		<%= link_to image_tag("reef-triggerfish.png", id: "fish"), root_path %>
		<div id="sign_in">
			<%= render 'sessions/form' %>
		</div>
	</div>


<div id="notice"><%= flash[:notice] if flash[:notice] %></div>
<div id="alert"><%= flash[:alert] if flash[:alert] %></div>

<%= yield %>

</body>
